body{
    background-color: #ece8e5;

}

#login{
	background: #DDD;
	/*Chrome*/
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,100,100,0.5)), to(rgba(0,0,105,.25)));
	/* Para Mozilla */
	background: -moz-linear-gradient(top, rgba(255,0,0,0.5), rgba(0,0,255,.25));
/* PARA VOLVER TODO EL FONDO DE GRADIENTE Y METER EL DIV EN TODA LA PAGINA.
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
*/
}

